#!/usr/bin/env bash

#
# Define the following variables in .config/environment.secret.bash:
#
#   export ZENDESK_SUBDOMAIN=your-subdomain
#   export ZENDESK_USERNAME=user@example.com/token
#   export ZENDESK_PASSWORD=<API Token>
#
source_env .config/environment.secret.sh
