#!/usr/bin/env bash

#
# Define the following variables in .config/environment.secret.sh:
#
#   export ZENDESK_SUBDOMAIN=your-subdomain
#   export ZENDESK_USERNAME=user@example.com/token
#   export ZENDESK_PASSWORD=<API Token>
#
[[ -r .config/environment.secret.sh ]] && source_env .config/environment.secret.sh
